body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #230d29, #291777);
    font-family:  Sans MS, Comic Sans, cursive;
}

.c {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(218, 197, 224);
}

.b {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
}

.button {
    width: 270px;
    height: 70px;
    background-color: #c974e0;
    border: 4px solid #f0eaf1;     
    border-radius: 25px; 
    align-items: center;      
    display: flex;
    cursor: pointer;
    justify-content: center;
}


.board {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.square {
    margin: 0px 50px 0px 50px;
    width: 300px;
    height: 300px;
    background-color: #c974e0;
    border-radius: 20%;
    border: 4px solid #f0eaf1;
    cursor: pointer;
    transition: all 0.2s ease;
}

.square:hover, .button:hover {
  transition: all 0.3s ease;
  border-color: #a354b0;      
  transform: scale(1.02);
    
}

.victory {
    color: #82e3c4;
}
.defeat{
    color: #be697e;
}
.stan {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.st {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center ;
  align-items: center;
}

.s1 {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center ;
  align-items: center;

}
.s2 {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content:center ;
  align-items: center;

}
