body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #230d29, #291777);
    font-family:  Sans MS, Comic Sans, cursive;
}

.c {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(218, 197, 224);
}

.b {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
}

.buttom {
    width: 300px;
    height: 100px;
    background-color: #bcb1be;
    border-radius: 10%;
    display: flex;
    cursor: pointer;
}

.board {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.square {
    margin: 0px 50px 0px 50px;
    width: 300px;
    height: 300px;
    background-color: #c974e0;
    border-radius: 20%;

    cursor: pointer;
    transition: all 0.3s ease;
}

.victory {
    color: #c3ebe2;
}
.defeat{
    color: #f0aebe;
}
.stan {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.st {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center ;
  align-items: center;
}

.s1 {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center ;
  align-items: center;

}
.s2 {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content:center ;
  align-items: center;

}
